<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">  
 
               <!-- **** Example 1 , Example 2 **** -->
      <bean id="studentbean" class="com.Spring.Example1.Student">
      <property name="name" value="Rajat Singh Thakur"></property>
      </bean>
      
               <!-- **** Example 3 **** -->
      <bean id="employee" class="com.Spring.Example3.Employee">
      <constructor-arg value="100" type="int" ></constructor-arg>
      <constructor-arg value="Rajat"></constructor-arg>
      <constructor-arg value="Indore"></constructor-arg>
      </bean>
      
               <!-- **** Example 4 **** -->
      <bean id="employee1" class="com.Spring.Example4.Employee">
      <property name="id"><value>1001</value></property>
      <property name="name"><value>Rajat Thakur</value></property>
      <property name="address"><value>Indore</value></property>
      </bean>
      
      
             <!-- **** Example 5 **** --> 
      <bean id="address" class="com.Spring.Example5.Address">
      <constructor-arg value="indore"></constructor-arg>
      <constructor-arg value="Madhya pradesh"></constructor-arg>
      <constructor-arg value="India"></constructor-arg>
      </bean>
      
      <bean id="student1" class="com.Spring.Example5.Student">
      <constructor-arg value="100001" type="int"></constructor-arg>
      <constructor-arg value="Rajat Sing Thakur"></constructor-arg>
      <constructor-arg> <ref bean="address"/> </constructor-arg>  
      </bean>
      
      
              <!-- **** Example 6 **** -->
       <bean id="question" class="com.Spring.Example6.Question">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value="Name Programming Languages?"></constructor-arg>
       <constructor-arg><list>
       <value>JavaScript</value>
       <value>Python</value>
       <value>Java</value>
       <value>C/CPP</value>
       <value>PHP</value>
       <value>Swift</value>
       <value>Ruby</value>
       </list></constructor-arg>
       </bean>   
       
                  <!-- **** Example 7 **** -->
       <bean id="question1" class="com.Spring.Example7.Question">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="What is Java?"></constructor-arg>
        <constructor-arg><list>
        <ref bean="answer1"></ref>
        <ref bean="answer2"></ref>
        </list></constructor-arg>
       </bean>
       
       <bean id="answer1" class="com.Spring.Example7.Answer">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="Java is Programming Language"></constructor-arg>
        <constructor-arg value="Ankit"></constructor-arg>
       </bean>  
       
       <bean id="answer2" class="com.Spring.Example7.Answer">
       <constructor-arg value="2" type="int"></constructor-arg>
       <constructor-arg value="Java is a city"></constructor-arg>
       <constructor-arg value="Rajat"></constructor-arg>
       </bean>  
       
                  <!-- **** Example 8 **** -->
       <bean id="studentmap" class="com.Spring.Example8.Student">
       <constructor-arg value="10" type="int"></constructor-arg>
       <constructor-arg value="What is Aartek ?"></constructor-arg>
       <constructor-arg>
       <map>
       <entry key="Aartek is company." value="Rajat"></entry>
       <entry key="Aartek is an organization." value="Ankit"></entry>
       </map>
       </constructor-arg>
       </bean>  
       
                 <!-- **** Example 9 **** -->   
       <bean id="questionmap" class="com.Spring.Example9.Question">
       <constructor-arg value="101" type="int"></constructor-arg>
       <constructor-arg value="What is Computer ?"></constructor-arg>
       <constructor-arg><map>
       <entry key-ref="answermap1" value-ref="user1"></entry>
       <entry key-ref="answermap2" value-ref="user2"></entry>
       </map>
       </constructor-arg>
       </bean>
       
       <bean id="answermap1" class="com.Spring.Example9.Answer">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value="I don't know."></constructor-arg>
       <constructor-arg value="08/12/2019"></constructor-arg>
       </bean>
       
       <bean id="answermap2" class="com.Spring.Example9.Answer">
       <constructor-arg value="2" type="int"></constructor-arg>
       <constructor-arg value="Computer is a machine."></constructor-arg>
       <constructor-arg value="09/12/2019"></constructor-arg>
       </bean>
       
       <bean id="user1" class="com.Spring.Example9.User">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value="Rajat"></constructor-arg>
       <constructor-arg value="rajatthakur164@gmail.com"></constructor-arg>
       </bean>
       
       <bean id="user2" class="com.Spring.Example9.User">
       <constructor-arg value="2" type="int"></constructor-arg>
       <constructor-arg value="Ankit"></constructor-arg>
       <constructor-arg value="rajatthakur1644@gmail.com"></constructor-arg>
       </bean>
       

                <!-- **** Example 10 **** -->   
       <bean id="emp1" class="com.Spring.Example10.Employee">
       <constructor-arg value="1001" type="int"></constructor-arg>
       <constructor-arg value="rajat"></constructor-arg>
       <constructor-arg value="rajatthakur.aartek.in"></constructor-arg>
       </bean>
       
       <bean id="dep" class="com.Spring.Example10.Department">
       <constructor-arg value="Bhopal"></constructor-arg>
       </bean>
       
       <bean id="emp2" class="com.Spring.Example10.Employee" parent="emp1">
       <constructor-arg ref="dep"></constructor-arg>        
       </bean>
       
                  <!-- **** Example 11 **** -->   
       <bean id="employee11" class="com.Spring.Example11.Employee">
       <property name="id"><value>10</value></property>
       <property name="name"><value>Rajat</value></property>
       <property name="email"><value>rajatthakur1644@gmail.com</value></property>
        </bean>
       
      </beans>