<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">  
 
               <!-- **** Example 1 , Example 2 **** -->
      <bean id="studentbean" class="BeanFactoryInterface.Student">
      <property name="name" value="Rajat Singh Thakur"></property>
      </bean>
      
               <!-- **** Example 3 **** -->
      <bean id="employee" class="CIwithConstructor.Employee">
      <constructor-arg value="100" type="int" ></constructor-arg>
      <constructor-arg value="Rajat"></constructor-arg>
      <constructor-arg value="Indore"></constructor-arg>
      </bean>
      
               <!-- **** Example 4 **** -->
      <bean id="employee1" class="CIwithGetterSetter.Employee">
      <property name="id"><value>1001</value></property>
      <property name="name"><value>Rajat Thakur</value></property>
      <property name="address"><value>Indore</value></property>
      </bean>
      
      
             <!-- **** Example 5 **** --> 
      <bean id="address" class="DependacyInjection.Address">
      <constructor-arg value="indore"></constructor-arg>
      <constructor-arg value="Madhya pradesh"></constructor-arg>
      <constructor-arg value="India"></constructor-arg>
      </bean>
      
      <bean id="student1" class="DependacyInjection.Student">
      <constructor-arg value="100001" type="int"></constructor-arg>
      <constructor-arg value="Rajat Sing Thakur"></constructor-arg>
      <constructor-arg> <ref bean="address"/> </constructor-arg>  
      </bean>
      
      
              <!-- **** Example 6 **** -->
       <bean id="question" class="CIwithCollectionList.Question">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value="Name Programming Languages?"></constructor-arg>
       <constructor-arg><list>
       <value>JavaScript</value>
       <value>Python</value>
       <value>Java</value>
       <value>C/CPP</value>
       <value>PHP</value>
       <value>Swift</value>
       <value>Ruby</value>
       </list></constructor-arg>
       </bean>   
       
                  <!-- **** Example 7 **** -->
       <bean id="question1" class="CIwithCollectionList1.Question">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="What is Java?"></constructor-arg>
        <constructor-arg><list>
        <ref bean="answer1"></ref>
        <ref bean="answer2"></ref>
        </list></constructor-arg>
       </bean>
       
       <bean id="answer1" class="CIwithCollectionList1.Answer">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="Java is Programming Language"></constructor-arg>
        <constructor-arg value="Ankit"></constructor-arg>
       </bean>  
       
       <bean id="answer2" class="CIwithCollectionList1.Answer">
       <constructor-arg value="2" type="int"></constructor-arg>
       <constructor-arg value="Java is a city"></constructor-arg>
       <constructor-arg value="Rajat"></constructor-arg>
       </bean>  
       
                  <!-- **** Example 8 **** -->
       <bean id="studentmap" class="CIwithCollectionMap.Student">
       <constructor-arg value="10" type="int"></constructor-arg>
       <constructor-arg value="What is Aartek ?"></constructor-arg>
       <constructor-arg>
       <map>
       <entry key="Aartek is company." value="Rajat"></entry>
       <entry key="Aartek is an organization." value="Ankit"></entry>
       </map>
       </constructor-arg>
       </bean>  
       
                 <!-- **** Example 9 **** -->   
       <bean id="questionmap" class="CIwithCollectionMap1.Question">
       <constructor-arg value="101" type="int"></constructor-arg>
       <constructor-arg value="What is Computer ?"></constructor-arg>
       <constructor-arg><map>
       <entry key-ref="answermap1" value-ref="user1"></entry>
       <entry key-ref="answermap2" value-ref="user2"></entry>
       </map>
       </constructor-arg>
       </bean>
       
       <bean id="answermap1" class="CIwithCollectionMap1.Answer">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value="I don't know."></constructor-arg>
       <constructor-arg value="08/12/2019"></constructor-arg>
       </bean>
       
       <bean id="answermap2" class="CIwithCollectionMap1.Answer">
       <constructor-arg value="2" type="int"></constructor-arg>
       <constructor-arg value="Computer is a machine."></constructor-arg>
       <constructor-arg value="09/12/2019"></constructor-arg>
       </bean>
       
       <bean id="user1" class="CIwithCollectionMap1.User">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value="Rajat"></constructor-arg>
       <constructor-arg value="rajatthakur164@gmail.com"></constructor-arg>
       </bean>
       
       <bean id="user2" class="CIwithCollectionMap1.User">
       <constructor-arg value="2" type="int"></constructor-arg>
       <constructor-arg value="Ankit"></constructor-arg>
       <constructor-arg value="rajatthakur1644@gmail.com"></constructor-arg>
       </bean>
       

                <!-- **** Example 10 **** -->   
       <bean id="emp1" class="CIwithInheritingBean.Employee">
       <constructor-arg value="1001" type="int"></constructor-arg>
       <constructor-arg value="rajat"></constructor-arg>
       <constructor-arg value="rajatthakur.aartek.in"></constructor-arg>
       </bean>
       
       <bean id="dep" class="CIwithInheritingBean.Department">
       <constructor-arg value="Bhopal"></constructor-arg>
       </bean>
       
       <bean id="emp2" class="CIwithInheritingBean.Employee" parent="emp1">
       <constructor-arg ref="dep"></constructor-arg>        
       </bean>
       
                  <!-- **** Example 11 **** -->   
       <bean id="employee11" class="SetterInjection.Employee">
       <property name="id"><value>10</value></property>
       <property name="name"><value>Rajat</value></property>
       <property name="email"><value>rajatthakur1644@gmail.com</value></property>
        </bean>
       
                 <!-- **** Example 12 **** -->   
       <bean id="SIstud" class="DependentObject.Student">
       <property name="id" value="101"></property>
       <property name="name" value="RAJAT"></property>
       <property name="email" value="rajat164@"></property>
       <property name="address" ref="SIaddress"></property>
       </bean>
       
       <bean id="SIaddress" class="DependentObject.Address">
       <property name="city" value="BHOPAL"></property>
       <property name="state" value="M.P"></property>
       <property name="country" value="INDIA"></property>
       </bean>
       
       <bean id="SIcollectionlist" class="CollectionList.Question">
       <property name="id" value="1"></property>
       <property name="question" value="How win last match?"></property>
       <property name="answer">
       <list>
       <value>IND</value>
       <value>PAK</value>
       <value>WI</value>
       <value>AUS</value>
       </list>       
       </property>
       </bean>
       
               <!-- **** Example 13 **** --> 
       <bean id="SIanswer1" class="CollectionList1.Answer">
       <property name="answer" value="A"></property>
       <property name="answerby" value="Rajat"></property>
       <property name="answerdate" value="13/12/2019"></property>
       </bean>
       
       <bean id="SIanswer2" class="CollectionList1.Answer">
       <property name="answer" value="B"></property>
       <property name="answerby" value="Ankit"></property>
       <property name="answerdate" value="18/12/2019"></property>
       </bean>
       
       <bean id="SIquestion" class="CollectionList1.Question">
       <property name="id" value="1"></property>
       <property name="question" value="Choose any one from option A and B"></property>
       <property name="answer">
       <list>
       <ref bean="SIanswer1"/>
       <ref bean="SIanswer2"/>
       </list>
       </property>
       </bean>
       
                       <!-- **** Example 14 **** --> 
       <bean id="Mapanswer1" class="CollectionMap.Question">
       <property name="id" value="1"></property>
       <property name="question" value="Total number of countrys in World?"></property>
       <property name="answer">
       <map>
       <entry key="212" value="Rajat"/>
       <entry key="211" value="Ankit"/>
       <entry key="210" value="Vijay"/>
       </map>
       </property>
       </bean>
       
       
       <bean id="map1answer1" class="CollectionMap1.Answer">
       <property name="answer" value="Rajat"></property>
       <property name="answerdate" value="13/12/2019"></property>
       </bean>
       
       <bean id="map1answer2" class="CollectionMap1.Answer">
       <property name="answer" value="Ankit"></property>
       <property name="answerdate" value="13/12/2019"></property>
       </bean>
       
       <bean id="map1user1" class="CollectionMap1.User">
       <property name="name" value="Rajat sing thakur"></property>
       </bean>
       
       <bean id="map1user2" class="CollectionMap1.User">
       <property name="name" value="Ankit rajpoot"></property>
       </bean>
       
       <bean id="map1ques" class="CollectionMap1.Question">
       <property name="id" value="1"></property>
       <property name="question" value="Your Nick Name."></property>
       <property name="answer">
       <map>
       <entry key-ref="map1answer1" value-ref="map1user1"></entry>
       <entry key-ref="map1answer2" value-ref="map1user2"></entry>
       </map>
       </property>
       </bean>
      </beans>